.benefits-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: $tablet-width) {
        flex-direction: column;
    }
}

.benefits-list__item {
    box-sizing: border-box;
    width: 360px;
    background-color: $grey-50;
    padding: 30px;
    display: grid;
    grid-template-rows: 40px auto;
    align-items: flex-start;
    grid-row-gap: 15px;
    margin-bottom: 30px;

    &:not(:nth-child(3n+1) ){
        margin-left: 40px;
    }

    @media (max-width: $desktop-width) {
        box-sizing: border-box;
        padding: 23px 16px;
        grid-row-gap: 5px;
        width: 206px;
        min-height: 310px;

        &:not(:nth-child(3n+1)) {
            margin-left: 30px;
        }
    }

    @media (max-width: $tablet-width) {
        width: 250px;
        align-self: center;
        padding: 25px 20px;

        &:not(:first-child) {
            margin-left: 0;
            margin-top: 30px;
        }
    }
}

.benefits-list__h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;

    @media (max-width: $desktop-width) {
        margin-bottom: 7px;
    }

    @media (max-width: $tablet-width) {
        line-height: 25px;
    }
}

.benefits-list__p {
    font-size: 14px;
    line-height: 20px;
}

.benefits-list__icon {
    &--ship {
        margin-top: 5px;

        @media (max-width: $desktop-width) {
            margin-top: 0;
            width: 21px;
            height: 26px;
        }
    }

    &--ticks {
        margin-top: 8px;

        @media (max-width: $desktop-width) {
            margin-top: 4px;
            width: 33px;
            height: 19px;
        }
    }

    &--boat {
        margin-top: 11px;

        @media (max-width: $desktop-width) {
            margin-top: 6px;
            width: 38px;
            height: 13px;
        }
    }
}

.benefits-list__desk-br {
    display: block;

    @media (max-width: $desktop-width) {
        display: none;
    }
}

.benefits-list__tab-br {
    display: none;

    @media (max-width: $desktop-width) {
        display: block;
    }
}

.benefits-list__mob-br {
    display: none;

    @media (max-width: $tablet-width) {
        display: block;
    }

    &--extra {
        display: none;
        @media (max-width: $tablet-width) {
            display: block;
        }
    }
}
