.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-form input {
    margin: 0 0 20px 0;
    padding: 11px 16px 11px 16px;

    border: none;
    border-radius: 0;
}

.booking-form input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $blue-900-transparent-70;
}

.booking-form label[for="useragreement"] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: $grey-50;
}

.booking-form__checkbox {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 3px;

    background-color: $grey-50;
    border: 1px solid $blue-900;

    & svg {
        display: none;
    }
}

input[type="checkbox"] {
    display: none;
    &:checked {
        & ~ .booking-form__checkbox {
            & svg {
                display: block;
            }
        }
    }
}

input[id="useragreement"] {
    &:hover {
        & ~ .booking-form__checkbox {
            outline: 4px solid $blue-800;
        }
    }

    &:focus {
        & ~ .booking-form__checkbox {
            outline: 4px solid $blue-800;
        }
    }

    &:active {
        & ~ .booking-form__checkbox {
            opacity: 0.7;
        }
    }
}
