.cruises-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $tablet_width) {
        justify-content: center;
    }
}

.cruises-list__h3 {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: $grey-50;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    z-index: 2;

    @media (max-width: $desktop_width) {
        bottom: 30px;
        left: 35px;
    }
}

.cruises-list__dl {
    display: none;
    color: $grey-50;
}

.cruises-list__dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.cruises-list__dd {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;

    @media (max-width: $desktop_width) {
        margin-bottom: 13px;
    }
}

// .cruises-list__wrapper {
//     margin: 0 25px;

//     @media (max-width: $desktop_width) {
//         margin: 0 35px;
//     }
// }

.cruises-list__button {
    display: none;
    width: 210px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    bottom: 35px;
    margin-top: 10px;

    @media (max-width: $desktop_width) {
        width: 240px;
    }

    @media (max-width: $tablet_width) {
        width: 220px;
        bottom: 25px;
    }
}

.cruises-list__item {
    width: 260px;
    min-height: 386px;
    margin: 15px;
    background-color: $blue-900;
    position: relative;
    padding: 30px 25px;

    @media (max-width: $desktop_width) {
        width: 309px;
        padding: 25px 35px;
    }

    @media (max-width: $tablet_width) {
        width: 270px;
        padding: 35px 25px;
        margin: 0 10px 30px 10px;
    }

    &:hover {
        & img {
            display: none;
        }

        & h3 {
            position: static;
            margin-bottom: 15px;
        }

        & dl {
            display: block;
        }

        & a {
            display: block;
        }
    }
}

.cruises-list__item img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
