.main {
    color: $grey-50;
    background-color: $blue-900;
    min-height: 612px;
    padding: 175px 100px 100px 0px;

    @media (min-width: $desktop-width) {
        padding-left: 155px;
    }
}

.main__h1 {
    font-size: 54px;
    line-height: 66px;
    font-weight: 700;
    padding-bottom: 30px;
}

.main__text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}
