.main {
    color: $grey-50;
    min-height: 538px;
    padding: 175px 100px 95px 0px;

    @media (max-width: $desktop-width) {
        padding: 110px 0 0 0;
        min-height: 435px;
    }
}

.main__h1 {
    font-size: 54px;
    line-height: 66px;
    font-weight: 700;
    padding-bottom: 30px;

    @media (max-width: $desktop-width) {
        font-size: 50px;
        line-height: 61px;
        padding-bottom: 29px;
    }

    @media (max-width: $tablet-width) {
        font-size: 36px;
        line-height: 45px;
        padding-bottom: 25px;
    }
}

.main__text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;

    @media (max-width: $desktop-width) {
        font-size: 18px;
        line-height: 22px;
    }
}

.main__wrapper {
    @media (max-width: $desktop-width) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
