.page-header-menu {
    @media (max-width: $tablet-width) {
        display: none;
    }
}

.page-header-menu__list {
    display: flex;
   flex-wrap: wrap;
}

.page-header-menu__link {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 35px;
    color: $grey-50;
    min-width: 100%;

    @media (max-width: $desktop-width) {
        margin-left: 25px;
        font-size: 14px;
        line-height: 17px;
    }

    @media (max-width: $tablet-width) {
        margin-left: 23px;
    }
}
