.page-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    min-width: 320px;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: $custom-font;
    font-weight: 400;
    font-style: normal;
    min-height: 100%;
    color: $blue-900;
    background-color: $grey-50;
}
