.page-header-menu {
    flex-wrap: wrap;

    @media (max-width: $tablet-width) {
        display: none;
    }
}

.page-header-menu__list {
    display: flex;
}

.page-header-menu__link {
    margin-left: 33px;
    color: $grey-50;
    min-width: 100%;

    @media (max-width: $tablet-width) {
        margin-left: 23px;
    }
}
