.page-header {
    padding: 35px 0px 35px 0px;
    font-size: 16px;
    line-height: 20px;
    color: $grey-50; //FIXME: не меняется цвет, почему?
    background-color: $blue-900;
}

.page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__back-img {
    background-size: auto auto;
    background-position: 50% 50%;
}
