.social__list {
    display: flex;
    align-items: center;
}

.social__img {
    margin-left: 33px;

    &--fb {
        width: 11px;
        height: 20px;
    }

    &--inst {
        width: 20px;
        height: 20px;
    }

    &--twitter {
        width: 20px;
        height: 16px;
    }
}
