.travel {
    display: flex;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 115px;

    @media (max-width: $desktop-width) {
        padding-top: 90px;
        padding-bottom: 95px;
    }

    @media (max-width: $tablet-width) {
        flex-direction: column;
        padding-top: 65px;
        padding-bottom: 65px;
    }
}

.travel__description {
    padding: 80px 85px 60px 0px;

    @media (max-width: $desktop-width) {
        padding: 0 30px 0 0;
    }

    @media (max-width: $tablet-width) {
        padding: 0 0 40px 0;
    }
}

.travel__h2 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin-bottom: 25px;

    & br {
        display: none;
    }

    @media (max-width: $desktop-width) {
        margin-bottom: 15px;
        line-height: 36px;
        font-size: 26px;

        & br {
            display: block;
        }
    }

    @media (max-width: $tablet-width) {
        font-size: 24px;
        line-height: 34px;
    }
}

.travel__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    & br {
        display: none;
    }

    @media (max-width: $desktop-width) {
        & br {
            display: block;
        }
    }
}

.travel__img img {
    margin-top: 25px;
    min-width: 560px;
    height: 301px;
    background-color: $blue-50;

    @media (max-width: $desktop_width) {
        min-width: 324px;
        height: 264px;
        margin-top: 10px;
    }

    @media (max-width: $tablet_width) {
        min-width: 290px;
        height: 186px;
    }
}
